.venv

##envrionmonet files
.env

##apikey
**/constants.*
**/constant.*
##google
**/.env
**/client_secret_drive.json
**/storage.json
**/*.json

#files
.pdf
**/*.pdf
**/*.zip
**/*.txt

lang_*
mine
mine2
weaviate
hackerton_*
chatbot_*

**/store.py
**/main.py
